/node_modules
/public/hot
/public/storage
/public/static-files
/storage/*.key
/storage/*.index
/vendor
/.idea
/.vscode
/.vagrant
.env
.env.backup
.phpunit.result.cache
.editorconfig
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
resources/temp
/public/page-cache
/public/page-cache-mobile
